In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

In [2]:
train = pd.read_csv('data.csv')
test = pd.read_csv('X_test.csv')
submit = pd.read_csv('submission.csv')

In [3]:
train.describe()

,Day,Hour,Minute,DHI,DNI,WS,RH,T,TARGET
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,103.671556,11.500444,14.983333,76.931778,208.159556,2.305856,64.191710,8.242444,18.174328
std,60.059711,6.931218,15.000824,119.150870,333.305000,1.259179,21.984384,9.553884,26.084176
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,13.420000,-13.000000,0.000000
25%,52.000000,5.000000,0.000000,0.000000,0.000000,1.400000,48.137500,0.000000,0.000000
50%,103.000000,11.000000,0.000000,11.000000,0.000000,2.100000,66.495000,7.000000,1.032293
75%,155.000000,18.000000,30.000000,100.000000,355.000000,3.000000,80.680000,15.000000,31.810235
max,208.000000,23.000000,30.000000,528.000000,1059.000000,8.000000,100.000000,33.000000,97.849989

In [4]:
test.describe()

,Day,Hour,Minute,DHI,DNI,WS,RH,T
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,103.628000,11.368000,15.150000,77.698000,220.428000,2.306200,63.741840,8.424000
std,60.926658,6.870938,15.006755,115.019487,339.075852,1.238845,21.981933,9.857961
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,14.130000,-14.000000
25%,49.750000,5.000000,0.000000,0.000000,0.000000,1.400000,47.560000,1.000000
50%,106.000000,11.000000,30.000000,18.000000,0.000000,2.100000,65.225000,7.000000
75%,158.000000,17.000000,30.000000,108.000000,415.250000,3.000000,80.890000,15.000000
max,208.000000,23.000000,30.000000,524.000000,1057.000000,8.000000,100.000000,33.000000

In [5]:
train_x = train.drop(['TARGET'], axis=1)
train_y = train['TARGET']

In [6]:
#sc=MinMaxScaler()

In [7]:
#train_x['Day'] = sc.fit_transform(train_x.loc[:,train_x.columns == 'Day'])
#test['Day'] = sc.transform(test.loc[:,test.columns =='Day'])

In [8]:
#train_x['DHI'] = sc.fit_transform(train_x.loc[:,train_x.columns == 'DHI'])
#test['DHI'] = sc.transform(test.loc[:,test.columns =='DHI'])

In [9]:
#train_x['DHI'] = sc.fit_transform(train_x.loc[:,train_x.columns == 'DNI'])
#test['DHI'] = sc.transform(test.loc[:,test.columns =='DNI'])

In [10]:
Model1= RandomForestRegressor(max_depth = 12)
Model2= DecisionTreeRegressor(max_depth = 12)

In [11]:
Model1.fit(train_x, train_y)
Model2.fit(train_x, train_y)

DecisionTreeRegressor(max_depth=12)

In [12]:
pred_y1 = Model1.predict(train_x)
pred_y2 = Model2.predict(train_x)

In [13]:
print(Model1.score(train_x, train_y))
print(Model2.score(train_x, train_y)) #성능지표상 의사결정나무의 score가 좀더 높음

0.9996349888077607
0.9993300105003892

-Score after MINMAXSCALER data processing   
DecisionTree : 0.9976119124450851  
RandomForest : 0.9966797931591944

In [14]:
prediction = Model1.predict(test)

In [15]:
submit['TARGET'] = prediction
submit.to_csv('submission.csv', index = False)