In [1]:
import warnings  
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

In [2]:
train_x = pd.DataFrame(pd.read_csv('x_train.csv',engine='python',encoding='CP949'))
train_y = pd.read_csv('y_train.csv',engine='python',encoding='CP949')
test = pd.DataFrame(pd.read_csv('x_test.csv',engine='python',encoding='CP949'))
submit = pd.read_csv('submission.csv')

In [3]:
train_x.isnull().sum()

시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
월           0
일           0
년           0
dtype: int64

In [4]:
train_x.describe()

,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,월,일,년
count,21486.000000,21486.000000,2.148600e+04,21486.000000,21486.000000,2.148600e+04,21486.000000,21486.000000,21486.000000,21486.000000,21486.000000,21486.000000,21486.000000,21486.000000
mean,0.596435,19.815322,3.173133e+05,35610.667755,196055.537429,5.489795e+05,41.090723,37.192712,13.568007,7.325534,2.746740,6.078563,15.740343,2018.730103
std,0.490624,11.848479,2.986918e+05,40520.154917,140616.040681,4.615707e+05,8.694502,12.959750,7.732429,28.564031,1.483265,3.496635,8.808749,0.704910
min,0.000000,0.000000,9.305552e+03,1172.448000,10788.381000,2.225181e+04,23.545000,12.667000,-11.600000,0.000000,0.000000,1.000000,1.000000,2018.000000
25%,0.000000,10.000000,9.545104e+04,12172.578500,100026.639500,2.228646e+05,34.250000,27.909000,7.600000,0.000000,1.750000,3.000000,8.000000,2018.000000
50%,1.000000,20.000000,2.214727e+05,21871.497000,153199.927500,3.869563e+05,39.622000,34.461000,13.333000,0.000000,2.400000,6.000000,16.000000,2019.000000
75%,1.000000,30.000000,4.079880e+05,40200.021750,235891.613250,6.389216e+05,49.040000,46.071000,19.700000,1.500000,3.400000,9.000000,23.000000,2019.000000
max,1.000000,40.000000,1.353561e+06,265708.771000,786387.113000,2.079278e+06,95.000000,172.200000,30.400000,587.500000,17.700000,12.000000,31.000000,2020.000000

In [5]:
train_x=train_x.drop(['월','일','년'], axis=1)
test=test.drop(['월','일','년'], axis=1)

In [6]:
sc=MinMaxScaler()
train_xsc = sc.fit_transform(train_x)
test_sc = sc.transform(test)

param_grid={'C':[0.001,0.01,0.1,1,10,100,1000]}
model = GridSearchCV(SVR(),param_grid, cv=5)
model.fit(train_x, train_y.ravel())

In [7]:
model = SVR(kernel = 'poly', C=1000)
model.fit(train_xsc, train_y)
model.score(train_xsc, train_y)

0.7654781710268125

In [8]:
pred_y=model.predict(test_sc)

In [9]:
pred_y

array([  25.16891632,  -91.23514339,   66.32634786, ..., -129.16451488,
         11.38147608,  894.8595396 ])

In [10]:
submit['predict'] = pred_y

In [11]:
submit

          id      predict
0          0    25.168916
1          1   -91.235143
2          2    66.326348
3          3   611.098206
4          4  1198.474028
...      ...          ...
10578  10578   183.854230
10579  10579   139.561002
10580  10580  -129.164515
10581  10581    11.381476
10582  10582   894.859540

[10583 rows x 2 columns]

In [12]:
submit.to_csv('submission.csv', index=False)